.modales.is-open {
  display: flex;
}

.modales {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modales-container {
  position: relative;
  min-width: 320px;
  max-width: 480px;
  height: 350px;
  overflow-y: auto;
  background-color: #fff;
}

.modales-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
