html {
  padding: 1rem;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Cascadia Code Pl, 'Courier New', Courier, monospace;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  margin: 0 1rem;
  text-decoration: none;
  color: #000;
}

hr {
  margin: 2rem auto;
}

a.active {
  font-weight: bold;
  color: red;
}
